<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <script src="http://cdn.static.runoob.com/libs/jquery/2.1.1/jquery.min.js"></script>
    <script type="text/javascript" src="http://webapi.amap.com/maps?v=1.4.0&key=08856d8d837cee71efe1ba1ca3d106be"></script>
    <script>
        getPosition = function(){
            $("#position").load('{{ url_for("position") }} .amap-vectors');
        }
    </script>
</head>
<body>
    <button onclick="getPosition()">确定</button>
    <div id="position"></div>
</body>
</html>
