<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>CloudPC</title>
    <script src="https://cdn.bootcss.com/jquery/3.2.1/jquery.min.js"></script>
    <script src="https://cdn.bootcss.com/bootstrap/3.3.7/js/bootstrap.js"></script>
    <link rel="stylesheet" href="../static/boostrap.css">
    <link href="https://cdn.bootcss.com/bootstrap/3.3.7/css/bootstrap.css" rel="stylesheet">
    <link href="https://cdn.bootcss.com/lightbox2/2.9.0/css/lightbox.min.css" rel="stylesheet">
    <link rel="stylesheet"
          href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-select/1.12.4/css/bootstrap-select.min.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-select/1.12.4/js/bootstrap-select.min.js"></script>
    <script src="https://cdn.bootcss.com/lightbox2/2.9.0/js/lightbox.js"></script>
    <script src="../static/jquery-rotate.js"></script>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">

    <script>

        $(document).ready(function () {
            var width = $(window).width();
            var height = $(window).height();
            $('#lightboxOverlay').css({'width': width, 'height': height});
            console.log('test');
        });

        $('.selectpicker').selectpicker({
            style: 'btn-info',
            size: 2
        });


        var setHeight = function () {
            if ($(window).width() < 600) {
                $("#main").height($("#main").width() * 3 / 2);
            }
            else {
                $("#main").height($("#main").width() * 4 / 5);
            }
        };

        $(document).ready(setHeight);
        window.addEventListener("resize", setHeight);


        var openCamera = function (obj) {
            var display = document.getElementById("camera-display");
            if (has_img(display)) {
                display.innerHTML = '';
            }
            if (obj.getAttribute("value") === "ON") {
                var img = document.createElement("img");
                img.setAttribute("id", "my_camera");
                img.setAttribute("src", "/feed_video");
                img.setAttribute("style", "width: 100%; height: 100%");
                display.appendChild(img);
                obj.innerHTML = "关闭摄像头";
                obj.setAttribute("value", "OFF");
            }
            else if (obj.getAttribute("value") === "OFF") {
                display.innerHTML = '';
                obj.innerHTML = "打开摄像头";
                obj.setAttribute("value", "ON");
            }
        };

        var has_img = function (obj) {
            return obj.getElementsByTagName('img').length !== 0;
        };

        var getImgFrom = function (_url, obj) {
            var url = _url;
            var xhr = new XMLHttpRequest();
            xhr.open('GET', url, true);
            xhr.responseType = "blob";
            xhr.onload = function () {
                var blob = this.response;
                var img = document.createElement("img");
                var anchor = document.createElement('a');
                anchor.setAttribute("rel", "lightbox-myGroup");
                img.setAttribute("style", "width: 100%; height: 100%");
                anchor.appendChild(img);
                // 不释放
//                    img.onload = function () {
//                        window.URL.revokeObjectURL(img.src);
//                    };
                img.src = window.URL.createObjectURL(blob);
                anchor.setAttribute('href', img.src);
                obj.innerHTML = '';
                obj.appendChild(anchor);
            };
            xhr.send();
        };

        var shot_screen = function (obj) {
            var display = document.getElementById("camera-display");
            if (has_img(display)) {
                display.innerHTML = '';
            }
            getImgFrom('/shot_screen', display);
        };

        var shot_camera = function (obj) {
            var display = document.getElementById("camera-display");
            if (has_img(display)) {
                display.innerHTML = '';
            }
            getImgFrom('/shot_camera', display);
        };

        var getPosition = function () {
            var display = document.getElementById('position-display');
            if (has_img(display)) {
                display.innerHTML = '';
            }
            console.log('test');
            getImgFrom('/get_position', display);
        };

        var lock = function (obj) {
            var ok = confirm('确定要锁屏吗?亲');
            if (ok) {
                $.post('/lock')
            }
            else {

            }
        }

        var shutDown = function () {
            var ok = confirm('确定要关机吗?亲');
            if (ok) {
                $.post('/shut_down');
                alert('ByeBye!!');
            }
            else {

            }
        }


    </script>
    <style>
        body {
            background-color: #333333;
        }


    </style>

</head>
<body>


<div class="container"></div>
<div id="cloud-pc" class="row">
    <div id="head" class="col-md-8 col-md-offset-2 col-xs-10 col-xs-offset-1">
        <h1 style="color: #ffffff; text-align: center;"><strong>CloudPC</strong></h1>
    </div>
</div>
<div class="row">
    <div id="main" class="col-md-6 col-md-offset-3 col-xs-10 col-xs-offset-1">
        <div id="myCarousel" class="carousel slide" data-interval="false" style="height: 100%;">
            <div class="carousel-inner" style="height: 100%">
                <div class="item active" style="height: 100%">
                    <!--主界面-->
                    <!--<div class="image"-->
                    <!--style="background-image:url({{url_for('static', filename='manager.png')}});float: left; margin-left: 6%;margin-top: 6%"-->
                    <!--data-slide-to="1"-->
                    <!--data-target="#myCarousel"></div>-->
                    <!--<div class="image"-->
                    <!--style="background-image:url({{url_for('static', filename='task.png')}});float: right; margin-right: 6%;margin-top: 6%"-->
                    <!--data-slide-to="2"-->
                    <!--data-target="#myCarousel"></div>-->
                    <!--<div class="image"-->
                    <!--style="background-image:url({{url_for('static', filename='cmd.png')}});float: left; margin-left: 6%;margin-bottom: 12%"-->
                    <!--style="background-image:url({{url_for('static', filename='cmd.png')}});float: left; margin-left: 6%;margin-bottom: 12%"-->
                    <!--data-slide-to="3"-->
                    <!--data-target="#myCarousel"></div>-->
                    <!--<div class="image"-->
                    <!--style="background-image:url({{url_for('static', filename='camera.png')}});float: right; margin-right: 6%;margin-bottom: 12%"-->
                    <!--data-slide-to="4"-->
                    <!--data-target="#myCarousel"></div>-->


                    <div class="image"
                         style="background-image:url('../static/manager.png');float: left; margin-left: 6%;margin-top: 6%"
                         data-slide-to="1"
                         data-target="#myCarousel"></div>
                    <div class="image"
                         style="background-image:url('../static/task.png');float: right; margin-right: 6%;margin-top: 6%"
                         data-slide-to="2"
                         data-target="#myCarousel"></div>
                    <div class="image"
                         style="background-image:url('../static/cmd.png');float: left; margin-left: 6%;margin-bottom: 6%"
                         data-slide-to="3"
                         data-target="#myCarousel"></div>
                    <div class="image"
                         style="background-image:url('../static/camera.png');float: right; margin-right: 6%;margin-bottom: 6%"
                         data-slide-to="4"
                         data-target="#myCarousel"></div>
                </div>

                <!--定位模块-->
                <div class="item" style="height: 100%">
                    <div class="block">
                        <span data-target="#myCarousel" data-slide-to="0" class="glyphicon glyphicon-hand-left"
                              style="color: rgb(255, 255, 255);margin-left: 3px">返回</span>
                        <div class="row">
                            <div class="col-md-12 col-xs-12" style="text-align: center">
                                <button class="btn btn-info btn-lg" onclick="getPosition(this)"
                                        style="margin: 0 auto;">
                                    定位电脑
                                </button>
                            </div>
                        </div>
                        <p>test</p>
                        <div id="position-display" class="display" style="width: 100%">
                        </div>
                    </div>
                </div>

                <!--控制模块-->
                <div id="task" class="item" style="height: 100%">
                    <span data-target="#myCarousel" data-slide-to="0" class="glyphicon glyphicon-hand-left"
                          style="color: rgb(255, 255, 255);margin-left: 3px">返回</span>
                    1
                    <div class="row">
                        <div class="col-md-4 col-md-offset-4 col-xs-12" style="text-align: center; margin-top: 15%">
                            <button class="btn btn-block btn-info btn-lg" onclick="shutDown()">关机</button>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-4 col-md-offset-4 col-xs-12" style="text-align: center; margin-top: 15%">
                            <button class="btn btn-block btn-info btn-lg" onclick="lock()">锁屏</button>
                        </div>
                    </div>
                </div>

                <!--命令行模块-->
                <div class="item" style="height: 100%">
                    <div class="block">
                        <span data-target="#myCarousel" data-slide-to="0" class="glyphicon glyphicon-hand-left"
                              style="color: rgb(255, 255, 255);margin-left: 3px">返回</span>

                    </div>
                </div>
                <!--摄像机模块-->
                <div class="item" style="height: 100%">
                    <span data-target="#myCarousel" data-slide-to="0" class="glyphicon glyphicon-hand-left"
                          style="color: rgb(255, 255, 255);margin-left: 3px">返回</span>
                    <div class="row">
                        <div class="col-md-12 col-xs-12" style="text-align: center">
                            <button id="camera-switch" class="btn btn-info btn-sm" value="ON"
                                    onclick="openCamera(this)">
                                打开摄像头
                            </button>
                        </div>
                    </div>
                    <div class="row" style="margin-top: 3%">
                        <div class="col-xs-6 col-md-6" style="text-align: center">
                            <button id="screen-switch" class="btn btn-info btn-sm" value="ON"
                                    onclick="shot_camera(this)">
                                摄像头快照
                            </button>
                        </div>
                        <div class="col-xs-6 col-md-6" style="text-align: center">
                            <button id="" class="btn btn-info btn-sm" value="ON" onclick="shot_screen(this)">
                                屏幕快照
                            </button>
                        </div>
                    </div>
                    <div id="camera-display" class="display" style="width: 100%">
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</body>
<style>
    #lightbox {
        transform: rotate(90deg);
    }

    @media only screen and (max-width: 500px) {
        .image {
            background-repeat: no-repeat;
            background-position: center, center;
            background-size: 95%;
            width: 40%;
            height: 40%;
        }

        #cloud-pc {
            margin-top: 10%;
        }

        .glyphicon {
            font-size: 20px;
        }

        .display {
            height: 50%;
        }

    }

    @media only screen and (min-width: 501px) {
        .image {
            background-repeat: no-repeat;
            background-position: center, center;
            background-size: 67%;
            width: 40%;
            height: 40%;
        }

        .glyphicon {
            font-size: 30px;
        }

        .display {
            height: 80%;
        }
    }


</style>
</html>
